html {
  scroll-behavior: unset !important;
}

body {
  width: 20rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}
li:nth-child(odd) {
  background: #80808030;
}
li:nth-child(even) {
  background: #ffffff;
}

h3,
p {
  margin: 0;
}
.close {
  position: absolute;
  right: 0px;
}

body {
  width: 783px;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.title {
  width: 690px;
  word-break: break-word;
}

.iconDiv,
.tabContents,
.closeDiv {
  display: inline-grid;
}

.closeDiv {
  flex: 5%;
}
.tabContainer {
  display: flex;
  color: black;
  text-decoration: none;
  align-items: flex-start;
}

.tabContainer:hover {
  color: #001bae;
}

.pathname {
  width: max-content;
}

.icon {
  width: 32px;
}

button {
  border-radius: 10px;
}

.close {
  background-color: #ff4b4b;
  color: white;
  font-weight: 700;
}

.selected {
  background-color: #ffaf81 !important;
}

.current-tab {
  background-color: #beff81 !important;
}

.current-tab.selected {
  background-image: linear-gradient(90deg, #beff81, #ffaf81);
}

#blackListDiv {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  overflow-y: scroll;
}

.blackListItem {
  display: flex;
  justify-content: space-between;
}
